/*-----------------------------------*/
.secondary_photo_link {
    width: 100%;
    border: 0.1rem solid var(--tonality-caqui-11);
    border-radius: 1.1rem;
    /*background-color: black;*/
}

/*-------------wraper_mini_photo__mini_photo-------------------*/
.secondary_photo_image {
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;
    object-fit: cover;
}