/*-----------------------------------*/
.adopt_button {
    height: 3.3rem;
    color: var(--just-white);
    border: none;
    font-size: 1.84rem;
    background-color: var(--tonality-turquoise-3);
    box-shadow: none;
    border-radius: 2rem;
    font-family: var(--font-family-4);
}

.adopt_button:hover {
    color: var(--just-white) !important;
    background-color: var(--tonality-turquoise-2);
    border: none !important;
}

.button_container_right_icon {
    margin-left: 0.6rem;
}

.adopt_button_right_icon {
    transition: all 0.3s;
}

.adopt_button:hover .adopt_button_right_icon {
    transform: translateX(0.5rem);
}