/*-----------------------------------*/
.main_section {
    width: 100%;
    background-color: var(--tonality-turquoise-9);
}

.main_section__container_all {
    width: 100%;
    position: relative;
}

.main_section__wrapper_all {
    width: 100%;
    margin-top: 2.4rem;
    padding: 2rem 1rem 3.6rem 1rem;
    border-radius: 3rem 3rem 0 0;
    background-color: var(--just-white);
}