/*-----------------------------------*/
.register_modal_form_top_section__container_all {
    width: 100%;
    flex-wrap: nowrap;
    margin: 0 auto;
    transform: translateX(12rem);
    margin-left: 2rem;
    /*background-color: aquamarine;*/
}

/*-------------container_all__wrapper_account_text-------------------*/
.register_modal_form_top_section__wrapper_account_text {
    width: 100%;
    flex-wrap: nowrap;
    /*background-color: yellow;*/
}

/*-------------wrapper_content_text__welcome_account_text-------------------*/
.register_modal_form_top_section__welcome_account_text {
    width: 24.2rem;
    font-size: 3.21rem;
    font-family: var(--font-family-4);
    font-weight: 650;
    letter-spacing: 0.004rem;
    line-height: normal;
}

.register_modal_form_top_section__account_color_text {
    color: var(--tonality-green-11);
}

/*-------------container_all__container_social_network_account-------------------*/
.register_modal_form_top_section__container_social_network_account {
    width: 100%;
    flex-wrap: nowrap;
    /*background-color: wheat;*/
}

/*-------------container_social_network_account__wrapper_social_network_row-------------------*/
.register_modal_form_top_section__wrapper_social_network_row {
    flex-wrap: wrap;
}

/*-------------wrapper_social_network_row__avatar_social_network-------------------*/
.register_modal_form_top_section__avatar_social_network {
    width: 4rem;
    height: 4rem;
    flex-wrap: nowrap;
    background: var(--just-white);
    border: 0.1rem solid var(--tonality-white-4);
}

.register_modal_form_top_section__avatar_social_network:hover {
    cursor: pointer;
    background-color: var(--tonality-white-3);
}

/*-------------avatar_social_network__social_network_icon------------------*/
.register_modal_form_top_section__social_network_icon_facebook {
    width: 2rem;
    height: 2rem;
}

.register_modal_form_top_section__social_network_icon_google {
    width: 2.4rem;
    height: 2.4rem;
}

.register_modal_form_top_section__social_network_icon_linked_in {
    width: 1.9rem;
    height: 1.9rem;
}

/*-------------container_all__wrapper_choose_other_option_text-------------------*/
.register_modal_form_top_section__wrapper_choose_other_option_text {
    flex-wrap: nowrap;
    /* background-color: thistle; */
}

/*-------------wrapper_choose_other_option_text__choose_other_option_text-------------------*/
.register_modal_form_top_section__choose_other_option_text {
    font-size: 1.4rem;
    color: var(--tonality-grey-3);
}