/*-----------------------------------*/
.contacts_container {
    width: 100%;
    margin-bottom: 1.5rem;
    /*background-color: chocolate;*/
}

/*.contacts_first_column {
    padding-left: 0rem;
}*/