/*-----------------------------------*/
.file_container {
    width: 100%;
    justify-content: flex-start;
}

.file_wrapper_information {
    width: 100%;
    gap: 0rem !important;
    padding: 0rem 0.6rem;
}

.file_basic_information_container {
    width: 100%;
    gap: 0rem !important;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid var(--tonality-white-3);
}

.file_container_contacts_reactions {
    width: 100%;
    gap: 0rem !important;
    margin-top: 1.5rem;
    /*background-color: blue;*/
}

.file_specific_information_wrapper {
    width: 100%;
    gap: 0rem !important;
    margin-top: 1.5rem;
    /*background-color: bisque;*/
}

.file_specific_information_container {
    width: 100%;
    gap: 0rem !important;
    padding-right: 0.4rem;
    /*background-color: yellowgreen;*/
}

.file_container_additional_information {
    width: 100%;
}