/*-----------------------------------*/
.file_health__wrapper_health {
    width: 100%;
    margin-top: 2rem;
    align-items: flex-start;
}

/*-------------wrapper_health__container_title-------------------*/
.file_health__container_title {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

/*-------------container_title__title-------------------*/
.file_health__title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--home-secondary-text);
    font-family: var(--font-family-4);
}