/*-----------------------------------*/
.photo_section__wrapper_photos {
    width: 100%;
    flex-wrap: nowrap;
    /*align-items: flex-start !important;
    justify-content: flex-start !important;
    /*background-color: aqua;*/
}

/*-------------wraper_secondary_photos__container_secondary_photos-------------------*/
.photo_section__container_secondary_photos {
    width: 100%;
    margin-top: 1.6rem;
    /*background-color: blue;*/
}