/*-----------------------------------*/
.principal_info_wrapper {
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid var(--tonality-white-3);
    /*background-color: aqua;*/
}

/*-------------wrapper_information_top_bar__container_contacts-------------------*/
.principal_info_wrapper_contacts_reactions {
    width: 100%;
    margin-top: 1.5rem;
    /*background-color: blueviolet;*/
}

.principal_info_container_contacts {
    width: 100%;
    margin-bottom: 1.5rem;
    /*background-color: chocolate;*/
}

.principal_info_container_reactions {
    width: 100%;
    /*background-color: chocolate;*/
}