/*-----------------------------------*/
.protectors_wrapper {
    width: 100%;
    /*background-color: aquamarine;*/
}

/*-------------wrapper_story__container_row-------------------*/
.protectors_container {
    width: 100%;
    /*background-color: yellowgreen;*/
}

.column {
    width: 100%;
}