/*-----------------------------------*/
.specifications_wrapper {
    width: 100%;
    gap: 0rem !important;
    /*background-color: blueviolet;*/
}

.margin_top {
    margin-top: 1rem;
}

.specifications_title {
    font-size: 2rem !important;
    font-weight: 500 !important;
    color: var(--home-secondary-text) !important;
    font-family: var(--font-family-4);
    margin-bottom: 1.5rem !important;
    line-height: normal !important;
}

.specifications_container {
    width: 100%;
    /*background-color: yellowgreen;*/
}