/*-----------------------------------*/
.specification_wrapper {
    /*width: 14.79rem;*/
    margin-bottom: 1.7rem;
    border: 0.1rem solid var(--tonality-caqui-11);
    background-color: var(--just-white);
    border-radius: 6rem;
    padding: 0.2rem 1rem 0.2rem 0.22rem;
    gap: 0.7rem !important;
    /*background-color: blue;*/
}

.specification_avatar {
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--tonality-white-3);
    border: 0.1rem solid var(--tonality-white-4);
}

.specification_icon {
    font-size: 1.6rem;
    color: var(--tonality-white-5);
}

.specification_text {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: var(--font-family-4);
    color: var(--home-secondary-text);
    line-height: normal;
}