/*-----------------------------------*/
@media screen and (min-width:375px) {
    .primary_photo_container {
        width: 34.4rem;
    }
}

/*-----------------------------------*/
@media screen and (min-width:390px) {
    .primary_photo_container {
        width: 35.8rem;
    }
}

/*-----------------------------------*/
@media screen and (min-width:412px) {
    .primary_photo_container {
        width: 38rem;
    }
}