/*------------------------------Start-Div-Component-----------------------------------*/
/*                              ----------------------                                   */
.wrapper_div_horizontal_center_positioning {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrapper_div_vertical_center_positioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*                               --------------------                                   */
/*-------------------------------End-Button-Component------------------------------------*/