/*------------------------------Start-Button-Component-----------------------------------*/
/*                              ----------------------                                   */
.wrapper_big_button {
    width: 16.528rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.big_button {
    width: 100%;
    min-width: 12rem;
    padding: 1.9rem 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--just-white);
    border-radius: 6rem;
    font-family: var(--font-family-4);
}

/* ------------------------------------------------------ */
.button {
    box-shadow: none;
    border-radius: 2rem;
    font-family: var(--font-family-4);
}

/* ------------------------------------------------------ */
.wrapper_right_icon {
    margin-left: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_left_icon {
    margin-right: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------wrapper_right_icon__right_icon--------------------*/
.right_icon {
    transition: all 0.3s;
    color: var(--just-white);
    font-size: 1.54rem;
}

.left_icon {
    transition: all 0.3s;
    color: var(--just-white);
    font-size: 1.54rem;
}

.big_button:hover .right_icon {
    transform: translateX(0.5rem);
}

.big_button:hover .left_icon {
    transform: translateX(-0.5rem);
}

/*                               --------------------                                   */
/*-------------------------------End-Button-Component------------------------------------*/
/*------------------------------Start-Div-Component-----------------------------------*/
/*                              ----------------------                                   */
.wrapper_div_horizontal_center_positioning {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrapper_div_vertical_center_positioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*                               --------------------                                   */
/*-------------------------------End-Button-Component------------------------------------*/