/*-----------------------------------*/
@media screen and (min-width:375px) {
    .photo_card {
        width: 15.8rem;
    }

    .photo_card_image {
        width: 15.4rem;
        height: 15.4rem;
    }

    .photo_card_title div div {
        font-size: 1.54rem !important;
        padding: 0.4rem 0;
    }
}